h1 
{
    color: black;
}

body
{
    background-image: url(http://img641.imageshack.us/img641/9420/f92a5f773b7774a49fa67cb.jpg);
}

#header 
{
    position: relative;
    color: white;
}

#header h1 
{
    text-align: center;
    border: 0px;
    background-color: orange;
}

#header h2
{
    text-align: left;
    border: 0px;

}

#menu
{
    float: left;
    position: relative;
    margin-right: 40px;
    width: 150px;
}

#menu p
{
    text-align: center;
    margin-bottom: 100px;
}

#menu p a
{
    color: orange;
    text-decoration:none;
}

#menu p a:hover
{
    font-size: larger;
}

#intro
{ 
    color: white; 
    position: relative;
}

#but
{
    text-align: left;
    color: white;
}

#instruction
{
    text-align: left;
    color: white;
}

h2
{
    color: white;
}

#nous
{
    float:left;
    color: white;
}
