h1 
{
    color: black;
}

body 
{ 
    background-image: url(http://img686.imageshack.us/img686/7336/diamants.jpg);
}

#header 
{
    color: white;
}

#header h1 
{
    text-align: center;
    border: 0px;
    background-color: orange;
}

#header h2
{
    text-align: left;
    border: 0px;

}

#menu
{
    float: left;
    position: relative;
    border: 0;
    margin-right: 40px;
}

#menu p
{
    text-align: center;
    margin-top: 20px;
}

#menu p a
{
    color: orange;
    text-decoration:none;
}

#menu p a:hover
{
    font-size: larger;
}

#intro
{ 
    color: white; 
    position: relative;
    background-color: black;
    opacity: 0.8;
}

#but
{
    text-align: left;
    color: white;
}

#instruction
{
    text-align: left;
    color: white;
}

h2
{
    color: white;
}

#nous
{
    float:left;
    color: white;
}
