h1 
{
    color: black;
}

body 
{ 
    background-image: url(http://img686.imageshack.us/img686/7336/diamants.jpg);
}

#header 
{
    color: white;
}

#header h1 
{
    text-align: center;
    border: 0px;
    background-color: orange;
}

#header h2
{
    text-align: left;
    border: 0px;

}

#menu 
{
    float: left;
}

#menu ul
{ 
    float: left;
    position: absolute;
    color: white;
    list-style-type: none;
}

#menu li 
{
    margin-left: 20px;
    float:left;

}

#menu ul li a
{
    color: white;
    display: block;  
    width: 100px;
    height: 10px;
    background-color: orange;
    text-decoration: none;
    text-align: center;
    padding: 30px;
    border: 1px solid;
    border-color: black;
}


#intro
{ 
    color: white; 
    position: relative;
    background-color: black;
    opacity: 0.8;
}

#but
{
    text-align: left;
    color: white;
}

#instruction
{
    text-align: left;
    color: white;
}

h2
{
    color: white;
}

#nous
{
    float:left;
    color: white;
}
